:root {
    --dark: #272823;
    --light: #eee;
    --disabled: #888;
}

html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-h {
    display: flex;
    flex-direction: row;
}

.flex-v {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-around {
    display: flex;
    justify-content: space-around;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.f1 {
    flex: 1;
}

.f2 {
    flex: 2;
}

.f3 {
    flex: 3;
}

.center {
    margin: auto;
}

.v-center {
    margin-top: auto;
    margin-bottom: auto;
}

.h-center {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.game-app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 375px;
    min-height: 560px;
    max-height: 840px;
    
    background-color: var(--dark);
    color: var(--light);

    overflow: hidden;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    color: var(--light);

    border-radius: 10px;
    border: 2px var(--light) solid;
    overflow: hidden;
    cursor: pointer;

    outline:0;
}

button:hover:enabled {
    background: var(--light);
    color: var(--dark);
}

button:disabled {
    border-color: var(--disabled);
    color: var(--disabled)
}

button:active {
    transform: scale(0.9);
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    background-color: #0008;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

.modal-title {
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
}

.login {
    width: 100%;
    font-size:  64px;
}

.login .login-btn{
    width: 80%;
    height : 48px;
    font-size: 20px;
}

.spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #0008;
    z-index: 999;
}

.spinner .dot1, .dot2, .dot3 {
    display: inline-block;
    background-color: var(--light);
    width: 15px;
    height: 15px;
    margin: 2px;
    border-radius: 100%;
}

.spinner .dot1 {
     animation: spinner-beat  0.9S 0s infinite linear;
    animation-fill-mode: both;
}

.spinner .dot2 {
    animation: spinner-beat  0.9S 0.3s infinite linear;
   animation-fill-mode: both;
}

.spinner .dot3 {
    animation: spinner-beat  0.9S 0.6s infinite linear;
    animation-fill-mode: both;
}

@keyframes spinner-beat{
    50% {transform: scale(0.75);opacity: 0.50}
    75% {transform: scale(1);opacity: 1}
}

.uibase {
    position: absolute;
    width: 200%;
    height: 100%;
    transition: left 0.5s ease-in-out;
}

.menuon {
    left: -70%;
}

.menuoff {
    left: 0;
}

.uibase .menu {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    border-left: 2px var(--light) solid;
}

.uibase .menu .menubutton {
    position: absolute;
    width: 48px;
    height: 48px;
    top :10px;
    left: -58px;
}

.uibase .menu .title {
    position: absolute;
    width: 120px;
    font-size: 32px;
    top: 20px;
    left: 60px;
    text-align: center;
    border: 2px var(--light) solid;
}

.uibase .menu .itemcontainer {
    margin-top: 80px;
    margin-left: 40px;
}

.uibase .menu .item {
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: 2px var(--light) solid;
}

.uibase .header {
    position: absolute;
    width: 50%;
    height: 70px;
    left: 0;
    top: 0;
    overflow: hidden;

    background-color: var(--dark);
}

.uibase .gold {
    width : 140px;
    height: 32px;
    max-width: 40%;
    margin-left: 16px;
    
    padding-right: 8px;
    border: 1px var(--light) solid;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.uibase .star {
    margin-left: 4px;
    margin-top: -16px;
    display: flex;
    align-items: center;
}

.uibase .star .starsign {
    display: inline-block;
    font-size: 36px;
}

.uibase .star .counter {
    display: inline-block;
    font-size: 16px;
    margin-top: 32px;
    margin-left: -10%;
}

.uibase .shield {
    font-size: 32px;
    display: flex;
    margin-left: 24px;
}

.uibase .shield .empty {
    width: 32px;
    height: 32px;
    border: 2px var(--light) dashed;
    border-radius: 50%;
    background-color: var(--dark);
    margin-left: -20%;
}

.uibase .shield .filled {
    width: 32px;
    height: 32px;
    
    border: 2px var(--light) solid;
    border-radius: 50%;
    background-color: var(--light);
    margin-left: -20%;
}


.home {
    position: relative;
    width: 50%;
    height: 400%;
    transition: top 1s ease-in-out;
}

.town {
    top: -300%;
}

.slotmachine {
    top: 0;
}

#town {
    position: absolute;
    width: 100%;
    height: 25%;
    top: 75%;
}

#town #playername {
    border: 1px var(--light) solid;
    width: 60%;
    height: 32px;
    margin-top: 80px;
    margin-bottom: 0;
}

#town #to-slot {
    width: 60%;
    margin-top: 8px;
    margin-bottom: 0;
}

#town #buildings {
    width: 80%;
}

#town #build-button {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 64px;
    height: 64px;
}

#town .building {
    width: 100%;
    height: 20%;
    margin: 8px;

    border: 1px var(--light) solid;
}

#town .upgrade {
    width: 70%;
}

#slotmode {
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    top: 0;
}

#slotmode #go-town{
    width: 60%;
    margin-top: 0;
}

#slotmode #base{
    width: 80%;
    margin-bottom: 20px;
}

#slotmode #result-text {
    border: 1px #ddd solid;
    border-radius: 4px;
    width: 100%;
    height: 45px;
}

#slotmode #machine {
    width: 100%;
    height: 180px;
    border: 1px #ddd solid;
    border-radius: 4px;
    overflow: hidden;
}

#slotmode #reel {
    position: relative;
    width:30%;
    margin: 0;
    height: 2160px;
}

#slotmode #reel #symbol{
    font-size: 48px;
    height: 90px;
}

#slotmode #counter {
    position: relative;
    margin-top: 10px;
    width: 80%;
    height: 30px;

    border: 1px #ddd solid;
    border-radius: 10px;
    overflow: hidden;
}

#slotmode #counter #bar{
    position: absolute;
    left: 0;
    height: 100%;
    background-color: #777;
}

#slotmode #counter #number{
    position: absolute;
    width: 100%;
    height: 100%;
}

#slotmode #status {
    width: 50%;
    height: 20px;
    margin: -1px auto;

    border: 1px #ddd solid;
    border-radius: 10px;
    text-align: center;
}

#slotmode #spin-button {
    width: 70%;
    height: 50px;
    margin-top: 30px;
}

#attackmode {
    width: 100%;
    background-color: inherit;
    z-index: 10;
}

#attackmode #title{
    height: 60px;
    border-bottom: 2px solid #ddd;
}

#attackmode #target-container{
    width: 80%;
}

#attackmode #target {
    height: 50px;
    margin: 10px;
    border: 1px solid #ddd;
}

#attackmode #left {
    width: 70%;
    margin-left: 15px;
}

#attackmode #right {
    margin: 10px;
    width: 30%;
    height: 60%;
}

#attackmode #summary {
    width: 90%;
    height : 100px;
    background-color: #333;
    
    border: 2px solid #ddd;
    border-radius: 10px;
}

#attackmode #summary #left {
    padding: 10px;
    width: 80%;   
}

#attackmode #summary #ok {
    width: 80%;
    height: 30px;
}

#raidmode {
    width: 100%;
    background-color: inherit;
    z-index: 10;
}

#raidmode #title {
    height: 60px;
    border-bottom: 2px solid #ddd;
    padding: 10px;
}

#raidmode #stolen {
    margin: 10px auto;
}

#raidmode #target {
    width: 120px;
    height: 120px;
    margin: 10px;
}

#raidmode #target:before {
    content: "X";
}

#raidmode #summary {
    width: 90%;
    height : 100px;
    background-color: #333;
    
    border: 2px solid #ddd;
    border-radius: 10px;
}

#raidmode #summary #left{
    padding: 10px;
    width: 80%;   
}

#raidmode #summary #right{
    width: 20%;   
}

#raidmode #summary #ok{
    width: 80%;
    height: 30px;
}

#welcome {
    border: 2px solid #ddd;
    border-radius: 10px;

    width: 90%;
    height: 120px;
}