html, body {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    height: 100%;
}

.flex {
    display: flex;
}

.flex-h {
    display: flex;
    flex-direction: row;
}

.flex-v {
    display: flex;
    flex-direction: column;
}

.f1 {
    flex: 1;
}

.f2 {
    flex: 2;
}

.f3 {
    flex: 3;
}

.center {
    margin: auto;
}

.game-app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 375px;
    max-height: 812px;
    
    background-color: #272823;
    color: #eee;

    display: flex;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    border: 2px #ddd solid;
    overflow: hidden;
    cursor: pointer;
}

.button:hover {
    background: #ddd;
    color: #555;
}

.button:active:not(:disabled){
    transform: scale(0.9);
}


.login {
    text-align: center;
    font-size:  64px;
}

.login .login-btn{
    width: 80%;
    height : 48px;
    font-size: 20px;
}